* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Serif", serif;
}

body {
    background: #0f172a;
    color: #e5e7eb;
    line-height: 1.6;
}

/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(16, 72, 202, 0.9);
    display: flex;
    align-items: center;
    padding: 15px 60px;
    z-index: 1000;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    align-items:center;
}

.nav-links a {
    color: #e5e7eb;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-links a:hover{
    color: #38bdf8;
    font-weight: 800;
}

/*About Profile*/
.image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.image h1 {
    margin-bottom: 5px;
}

.image img{
    border-radius: 100%;
    width: 250px;
    height: 250px;
    margin-top: 100px;
}

/* HERO */
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-left: 200px;
}

.bg{
    width: 80%;
    max-width: 600px;
    height: auto;
    min-height: 250px;
    border-radius: 20px;
    text-align: center;
    margin:0 auto;
    background-image: linear-gradient(to right top,rgb(0, 0, 0),rgb(155, 25, 221));
}

.hero-content { 
    padding: 20px; 
    color: #fff; 
    font-size: 1.2rem;
}
.hero span {

    color: #38bdf8;
}


.btn { 
    text-align: center; 
    display: inline-block; 
    margin-top: 20px; 
    padding: 10px 30px; 
    background-color: white; 
    color: #020617; 
    border-radius: 999px; 
    text-decoration: none; 
    font-weight: 400; 
    width: 180px; 
    transition: 
        width 0.3s ease, 
        font-weight 0.3s ease;
} 

.btn:hover { 
    background-color: #38bdf8;
    color:#ffffff ;
    font-weight: 800; 
    width: 190px; 
}

/* SECTIONS */
.section {
    padding: 60px 5%;
    margin-bottom: 20px;
}

.section-title {
    font-size: 2.2rem;
    margin-bottom: 25px;
    color: #38bdf8;   
}

h2.section-title {
    text-align:center;
}

/* SKILLS & PROJECTS */
.skill {
    margin-bottom: 20px;
}

/* Skills container layout */
.container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
    margin-top: 30px;
}

/* Card */
.card {
    position: relative;
    height: auto;
    padding: 25px;
    border-radius: 16px;
    overflow: hidden;
    transition: transform 0.3s;
    background-image: linear-gradient(145deg, rgba(2,6,23,.9), rgba(42, 49, 67, 0.9));
}

.card:hover {
    transform: translateY(-10px);
}

.card h2 {
    color: #b464ff;
    font-size: 1.4rem;
    margin-bottom: 12px;
}

.card p {
    color: #ffffff;
    font-size: 0.95rem;
}


/* FOOTER */
footer {
    width: 100%;
    text-align: center;
    padding: 20px;
    background: #020617;
}


